/*              MENU                                           */

body {
  margin: 1rem;
  background: linear-gradient(
    43deg,
    rgba(32, 32, 33, 1) 0%,
    rgba(85, 30, 235, 1) 14%,
    rgba(85, 30, 235, 1) 77%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  height: auto;
}
h1 {
  font-size: 3.8rem;
  font-family: inter;
}
h2 {
  font-family: inter;
  font-size: 2.3rem;
}
h3 {
  font-size: inter;
  font-size: 2rem;
}
p {
  font-family: kanit;
  font-size: 1.4rem;
  padding: 0.5rem;
}

.info {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.header {
  display: inline-flex;
  background-color: #292929;
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.bm {
  width: 100%;
  height: auto;
  max-width: 7rem;
  margin: 1rem;
}

.navbar {
  margin: 2rem 5rem;
  padding: 1rem;
  width: 100%;
  height: auto;
}

.navbar li {
  display: inline;
  list-style: none;
  margin: 1rem;
  padding: 1rem;
}

.navbar a {
  color: #c0c0c0;
  text-decoration: none;
  font-family: inter;
  font-weight: 600;
  padding: 1rem;
}

.navbar a:hover {
  background-color: #8b66ee;
  border-radius: 2rem;
  color: #ffffff;
}

.cetav_logo {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

/*  index*/

.proyecto {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: #49454563;
  padding: 1rem;
  margin: 3rem 0.2rem;
  border-radius: 1rem;
  border-color: #8b3f3f63;
  border-style: solid;
}

.proyecto h2 {
  color: white;
  font-family: inter;
  margin: 2rem 3rem;
}

.sho {
  background-color: #369c477a;
  padding: 1rem;
  margin: 3rem 0.2rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 1rem;
  border-color: #d1cece7a;
  border-style: solid;
}

.sho h1 {
  color: #000000;
  margin: 2rem 1rem;
}

.sho p {
  color: rgb(235, 213, 213);
}

.contenedor {
  display: flex;
}

.ultimo {
  background-color: #00000059;
  margin: 4rem 0.33rem;
  padding: 1rem;
  border-radius: 2rem;
  border-color: #aadd889f;
  border-style: solid;
  height: auto;
}

.ultimo h2 {
  font-size: 5.3rem;
}

.ultimo h2::before {
  content: "\203C";
  margin: 0rem 1rem;
  color: #801919fa;
}

.ultimo h2::after {
  content: "\203C";
  margin: 0rem 1rem;
  color: #801b1b;
}

.dalio {
  color: #ffffffc2;
  background-color: #0a142f;
  flex-basis: 29rem;
  margin: 1rem 2rem;
  padding: 1.5rem;
  border-radius: 3rem;
  height: auto;
  border-color: #49454563;
  border-style: solid;
}

.dalio h3 {
  color: #d3c831;
}

.biccas {
  background-color: #ffefef;
  flex-basis: 29rem;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 3rem;
  height: auto;
  border-color: #49454563;
  border-style: solid;
}

.biccas h3 {
  color: #54bd95;
}

.biccas p {
  color: #000000;
}

.flecha {
  height: auto;
  width: 5rem;
  margin-top: 6rem;
  margin-left: 1rem;
  border-radius: 3rem;
  border-style: solid;
  padding: 1rem;
  border-color: #000000;
  background-color: #ffffff;
}

/* curriculum */

.main-curriculum {
  margin: 1rem;
  background-color: #1d4f66;
  padding: 1rem;
  border-radius: 2rem;
}

.main-curriculum li {
  list-style: none;
  margin: 1rem;
}

.main-curriculum h1 {
  margin: 2rem 2rem -1.5rem 2rem;
}

.main-curriculum h2 {
  margin: 2rem 2rem;
}

.main-curriculum h3::before {
  content: "\262D";
  margin: 0.3rem;
}

.main-curriculum p {
  color: rgba(248, 213, 213, 0.829);
}
.main-curriculum p::before {
  content: "\2694";
  padding: 0.3rem;
}

/* Portafolio*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: radial-gradient(
    circle,
    rgba(64, 0, 255, 1) 0%,
    rgba(198, 34, 34, 1) 49%,
    rgba(246, 250, 0, 1) 100%
  );
  border-radius: 13rem;
  border-color: #ffffff;
  border-style: solid;
  padding: 2rem;
}

.titulo-portafolio {
  margin: 1rem;
  padding: 1rem;
  background-color: #4739119c;
  border-radius: 3rem;
  color: #c0c0c0;
  text-align: center;
  border-color: #03030341;
  border-width: 0.23rem;
  border-style: solid;
}

.titulo-portafolio p {
  color: wheat;
}

.biccasportafolio {
  width: 26rem;
  color: black;
  margin: 1rem 3rem;
  padding: 1rem;
  background-color: #ffefef;
  font-family: inter;
  border-radius: 3rem;
  border-color: #03030341;
  border-width: 0.23rem;
  border-style: solid;
}

.dalioportafolio {
  width: 26rem;
  margin: 1rem 3rem;
  padding: 1rem;
  background-color: #0a142f;
  color: #c0c0c0;
  font-family: inter;
  border-radius: 3rem;
  border-color: #e1000041;
  border-width: 0.23rem;
  border-style: solid;
}

.oaa {
  width: 26rem;
  margin: 1rem 3rem;
  padding: 1rem;
  background-color: #47111856;
  border-radius: 3rem;
  border-color: #03030341;
  border-width: 0.23rem;
  border-style: solid;
}

.oaa img {
  width: 8rem;
  height: 5.87rem;
  border-radius: 3rem;
  border-color: #b9ae314f;
  border-width: 0.3rem;
  border-style: solid;
}

.oaa p {
  color: #c0c0c0;
  font-family: inter;
  font-weight: 1rem;
}

.cuchu {
  width: 25rem;
  margin: 1rem 3rem;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.815);
  border-radius: 3rem;
  border-color: #03030341;
  border-width: 0.23rem;
  border-style: solid;
}

.cuchu img {
  width: 6rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-color: #0a142f;
  border-width: 0.7rem;
  border-style: solid;
}

.cuchu h2::after {
  content: "\2122";
}

.tuli {
  width: 26rem;
  margin: 1rem 3rem;
  padding: 1rem;
  background-color: #0a142f31;
  border-radius: 3rem;
  border-color: #03030341;
  border-width: 0.23rem;
  border-style: solid;
  color: #c0c0c0;
}

.tuli img {
  width: 7rem;
  height: 5.9rem;
  border-radius: 3rem;
  border-color: #2da90eb3;
  border-width: 0.23rem;
  border-style: solid;
}

.hyper {
  width: 26rem;
  padding: 1rem;
  margin: 1rem 3rem;
  background-color: #bdb9b938;
  border-radius: 3rem;
  border-color: #03030341;
  border-width: 0.23rem;
  border-style: solid;
}

.hyper img {
  width: 9.7rem;
  height: 8rem;
  border-radius: 3rem;
  border-color: #e50606;
  border-width: 0.3rem;
  border-style: solid;
}

/*           Contacto    */

.contenedorcontacto {
  display: flex;
}
.titulo {
  text-align: center;
  margin: 3rem;
  background-color: #bdb9b938;
  border-radius: 1rem;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
  font-size: 2rem;
  border-color: #292929a5;
  border-style: solid;
}

.titulo h1 {
  color: #fffcfc;
}

.face {
  background-color: #0011fcc2;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
  border-color: #292929a5;
  border-style: solid;
}

.face img {
  width: 6rem;
  border-radius: 50%;
  border-color: #0000002d;
  border-style: solid;
  border-width: 0.2rem;
}

.face h2 {
  color: #c0c0c0;
}
.face p {
  color: #c0c0c0;
  margin-bottom: 2rem;
}
.face a {
  color: #ededed;
  background-color: #292929a5;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 3rem;
  text-decoration: none;
  border-color: #ffffffcb;
  border-style: solid;
  border-width: 0.33rem;
}

.hover:hover {
  background-color: #8b66ee;
  border-radius: 2rem;
  color: #ffffff;
}

.medium {
  margin: 2rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  border-color: #292929a5;
  border-style: solid;
}

.medium a {
  color: #ededed;
  background-color: #080808c3;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 3rem;
  text-decoration: none;
  border-color: #ffffffcb;
  border-style: solid;
  border-width: 0.33rem;
}
.medium p {
  margin-bottom: 2rem;
}

.medium img {
  width: 8rem;
}

.insta {
  background: linear-gradient(
    58deg,
    rgba(193, 34, 195, 1) 0%,
    rgba(28, 120, 127, 1) 20%,
    rgba(25, 19, 31, 1) 48%,
    rgba(2, 76, 96, 1) 86%,
    rgba(96, 2, 10, 1) 100%
  );
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  border-color: #292929a5;
  border-style: solid;
  color: #c0c0c0;
}

.insta img {
  width: 8rem;
}

.insta a {
  color: #ededed;
  background-color: #080808c3;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 3rem;
  text-decoration: none;
  border-color: #ffffffcb;
  border-style: solid;
  border-width: 0.33rem;
}
.insta p {
  margin-bottom: 2rem;
}

.git {
  background-color: #c0c0c0;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
  border-color: #292929a5;
  border-style: solid;
  color: #080808;
}

.git img {
  width: 6.3rem;
}

.git a {
  color: #ededed;
  background-color: #080808c3;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 3rem;
  text-decoration: none;
  border-color: #ffffffcb;
  border-style: solid;
  border-width: 0.33rem;
}
.git p {
  margin-bottom: 2rem;
}

.formulario h2 {
  color: #d7c9c9;
  margin: 2rem 1rem 2rem 2rem;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  background: linear-gradient(
    0deg,
    rgba(136, 236, 244, 1) 0%,
    rgba(245, 245, 245, 1) 48%,
    rgba(33, 98, 246, 1) 100%
  );
  padding: 1rem;
  border-radius: 3rem;
  border-color: #292929a5;
  border-style: solid;
  color: #080808;
}

.form input {
  margin: 0.7rem;
}
.form select {
  margin: 0.5rem;
}
.submit {
  width: 7.7rem;
  background-color: #9dbbec;
  border-radius: 5rem;
  padding: 0.7rem;
  font-family: inter;
  border-color: #080808;
}
.submit:hover {
  padding: 0.7rem;
  background-color: #8b66ee;
  border-radius: 2rem;
  border-style: solid;
  border-color: #9d3333;
  color: #ffffff;
}

.nombre {
  width: 15rem;
  background-color: #c0c0c0;
  border-style: solid;
  border-color: #1f0808e1;
}

.razon {
  width: 15rem;
  background-color: #c0c0c0;
  border-color: #1f0808e1;
  border-width: 0.1rem;
  margin-left: 0.7rem;
}

.fcorreo {
  width: 15rem;
  background-color: #c0c0c0;
  border-style: solid;
  border-color: #1f0808e1;
}

.texto {
  background-color: #c0c0c0;
  border-color: #1f0808e1;
  border-width: 0.1rem;
  margin-left: 0.7rem;
  width: 30rem;
}
/*         pRUEBAS           */

.pruebas__titulo{
 text-align: center;
 color: white;
 font-size: 11rem;
 width: 100%;
 height: auto;
}
.pruebas__campo{
  width: 100rem;
  height: 100rem;
}

/*                    footer*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #2929297a;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

address {
  display: inline-flex;
  flex-direction: column;
  width: 27%;
  align-content: center;
}

.contenedor-foot {
  display: inline-block;
  background-color: #0a142f31;
  border-radius: 2rem;
  padding: 0.5rem;
}

.contenedor-foot h3 {
  color: #c0c0c0;
  margin-bottom: -1.5rem;
}

.contenedor-foot p {
  margin-bottom: 1rem;
}

.lista-final {
  background-color: #bdb9b938;
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

.lista-final li {
  display: inline;
  padding: 1rem;
}

.face-foot {
  width: 12%;
  padding: 1rem;
}

.inst-foot {
  width: 17%;
  height: auto;
}

.git-foot {
  width: 12%;
  padding: 1rem;
}

@media (max-device-width: 960px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.9rem;
  }
  a {
    font-size: 0.5rem;
  }
}
